* {
    margin: 0px;
    padding: 0px;
}

#gradient {
    background-image: linear-gradient(to right, rgba(52,97,186,255), rgb(1, 1, 102));
    color: white;
    padding: 0px;
    margin: 0px;
}

input {
    width: 100%;
}

.submit {
    margin-top: 5px;
    color: white;
    background-color: rgba(80,152,230,255)

}

.card {
    color: white;
    background-color: rgba(45,62,80,255);
}